/* Header Component  */
#div1{
text-align: center;
background-color: lawngreen;
font-size: 36px;

}

#div2{
    background-color:lemonchiffon;
    text-align: center;
    text-decoration: none;
}


.links{
    display: inline-block;
    margin-right: 100px;
    
}


/* Content Component */
.display{
    display: none;
}
